html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}